:root {
  --color-primary: #233D75;
  --color-secondary: #FF8C00;
  --color-accent: #EB4E00;

  /*background*/
  --color-bg-light: #FCFCFC;
  --color-bg-medium: #F8F8F9;

  /*Colores para texto*/
  --color-text-primary: #2D2D2D;
  --color-text-secondary: #9E9E9E;
  --color-text-light: #FCFCFC;

  /*bordes*/
  --color-border: #DDDDDD; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex; 
  flex-direction: column; 
  height: 100vh;
  font-size: 16px;
  background-color: var(--color-bg-light);
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}